/* NAVIGATION BAR */
header nav ul{
    list-style: none;
    margin: 0px;
    padding:0px;
    padding-left: 17px; /* 控制 ul 和左边界的距离 */
    display:flex;
    justify-content: flex-start;/*靠左对齐*/
    background-color: rgb(255, 100, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header nav li{
    display: flex;
    padding:10px;
    font-size:28px;
    text-decoration: none;  
  
  }
  
  header nav a {
    text-decoration: none;
    color:#ffffff;
  }
  
  main {
    background-color: rgb(255, 255, 255);
  

  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    text-align: center;
    flex-direction: column;
    margin-bottom: 85px;
    font-size:22px;

    
  }
  img {
    width: 50%; /* 图片宽度设置为屏幕宽度 */
    height: auto; /* 根据宽度自动调整高度，保持比例 */
    max-width: 100%; /* 防止图片变得比其原始大小更大 */
    display: block; /* 避免图片默认的内联间距 */
    margin: 0 auto; /* 居中对齐图片 */
  }
  
  img[src$=".gif"] {
    width: 100%; /* 或者指定固定的宽度，例如 500px */
    height: auto; /* 保持比例 */
    display: block; /* 避免内联元素的间距问题 */
    margin: 0 auto; /* 居中对齐 */
  }

  .bold-text {
    font-weight: bold;
}


section {
  margin-bottom: 150px; /* 或者你想要的其他间距值 */
}


.p1 {
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

.p2 {
  width: 75%;
  margin: 20px auto;
  text-align: left;
}

.section {
  margin-bottom: 100px; /* 控制“段落 + 图片”单元之间的空隙 */
}
